html{
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  body {
    background-color: rgb(122, 122, 122);
    font-style: normal;
  }
}

body {
    font-style: normal !important;
    font-family: "Poppins", sans-serif;
  }

#navbar {
  width: 100vw;
  height: 3rem;
  margin-top: -1rem;
  position: fixed;
  display: flex;
  background-color: gren;
  z-index: 99;
  transform: translateX(-1vh);
}

#navbar li {
  background-color: rgb(255, 255, 255);
  width: 125%;
  height: 4.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 6px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 35px 0px rgba(0,0,0,0.75);
}

#navbar li a {
  margin: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color:rgb(122, 122, 122);
  transition: color 150ms;
}

#navbar li a:visited{
  color:rgb(122, 122, 122)
}

#navbar li a:hover{
  color: black;
}

#welcome-section {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(207, 207, 207, 0.452);
}

#container-welcome {
  padding: 0 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 200ms;
}

#container-welcome:hover {
}

/* PROJECTS-CONTENT */

#ourProjects {
  text-transform: uppercase;
}

#project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -12px 49px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px -12px 49px 0px rgba(0,0,0,0.15);
  padding: 5rem 0 0 0;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90rem;
  height: 50rem;
  grid-gap: 1rem;
  margin: 2rem;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 0px 0px 65px -12px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 65px -12px rgba(0,0,0,0.75);
  border-radius: 10px;
  padding: 2.5rem 2.5rem;
}

#project-container {
  width: 100%;
  height: 100%;
  display: flex;
  transform: scale(1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-picture {
  background-color: aqua;
  border-radius: 10px;
  max-width: 27vw;
  height: auto;
  box-shadow: 0px 0px 65px -12px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 65px -12px rgba(0,0,0,0.75);
}

.project-tile {
  width: 25rem;
  height: 25rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: transform 300ms;
}

.project-tile:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color
}

.project-tile h2 {
  color: white;
  transition:  300ms;
}

.project-tile:hover h2{
  color:black;
}


.project-button{
  text-decoration: none;
  pointer-events: ;
}

.project-button:visited{
  color: black;
}

/* PROJECTS-CONTENT */

/* WORK WITH US */

#workWithUs {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5rem 8rem 10rem 8rem;
  text-align: center;
}

/* WORK WITH US */

/* FOOTER */

#footer {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  background-color: black;
  width: 98.9vw;
  transform: translateX(-1.1vh);
}

#profile-link {
  color: white;
  margin: 2rem 1rem;
}

#profile-link2 {
  text-decoration: none;
  color: white;
}

#profile-link {
  text-decoration: none;
  font-weight: bolder;
}

footer h2 {
  color: white;
}

/* FOOTER */