html{
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  body {
    background-color: rgb(122, 122, 122);
    font-style: normal;
  }
}

body {
    font-style: normal !important;
    font-family: "Poppins", sans-serif;
  }

#navbar {
  width: 100vw;
  height: 3rem;
  position: fixed;
  display: flex;
  background-color: gren;
  z-index: 99;
  transform: translateX(-1vh);
  -webkit-box-shadow: 0px 6px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 35px 0px rgba(0,0,0,0.75);
}

#navbar li {
  background-color: rgb(255, 255, 255);
  width: 125%;
  height: 4.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar li a {
  margin: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color:rgb(122, 122, 122);
  transition: color 150ms;
}

#navbar li a:visited{
  color:rgb(122, 122, 122)
}

#navbar li a:hover{
  color: black;
}

#welcome-section {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-welcome {
  padding: 0 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#projects {
  display: grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}